@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Si querés añadir tus colores personalizados: */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2D4343;
  --secondary: #6F8B8F;
  --accent: #88A699;
  --highlight: #99B39A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
